* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.form-container h1 {
  text-align: center;
  color:#28a745;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
  input[type="email"],
  input[type="password"], 
  input[type="text"]
  {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-group select {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-group input[type="radio"] {
  width: auto;
}

.form-group .gender-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-group .gender-group label {
  font-weight: normal;
  margin: 0;
}

.form-button {
  text-align: center;
}

.form-group input[type="submit"] {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;    
  cursor: pointer;
  text-align: center;
}

  
.error {
  color: red !important;
  display: none;
}